@page "/SignIn"
@inherits SignInBase
<div class="sign-form">
    <p class="welcome-text"> Hello, @(string.IsNullOrEmpty(User.Username) ? "User" : User.Username) today is @DayOfWeek </p>
    <p class="welcome-text"> Please sign in to continue</p>
    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator/>
        <div class="sign-validation">
            <ValidationInput
                placeholder="Username"
                @bind-Value="@User.Username"
                Error="@GetError((() => User.Username))">
            </ValidationInput>
        </div>
        @* <InputText type="text" class="sign-input form-control" placeholder="Username" @bind-Value="User.Username"/> *@
        @* <ValidationMessage For="@(() => User.Username)"></ValidationMessage> *@
        @* <InputText type="password" class="sign-input form-control" placeholder="Password" @bind-Value="User.Password"/> *@
        @* <ValidationMessage For="@(() => User.Password)"></ValidationMessage> *@
        <div class="sign-validation">
            <ValidationInput
                type="password"
                placeholder="Password"
                @bind-Value="@User.Password"
                Error="@GetError((() => User.Password))">
            </ValidationInput>
        </div>

        <button class="sign-button btn btn-primary" type="submit">Sign in</button>
    </EditForm>

    <div class="signup">
        <a href="/signup">sign up</a>
    </div>

</div>